
/*** Spinner Start ***/
/*** Spinner ***/

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "tailwindcss";

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
}

/* Apply globally */
body {
  font-family: var(--font-primary) !important;
}

/* Example usage */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}
