
/*** Spinner Start ***/
/*** Spinner ***/

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "tailwindcss";

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
}

/* Apply globally */
body {
  font-family: var(--font-primary) !important;
}

/* Example usage */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}

.bg-primary-green{
  background-color: #0D9276; /* Example Sauzi Tours brand */
}
.primary-color{
  color: var(--bg-primary-green);
}
.secondary-green{
  background-color: #0D9276; /* Example Sauzi Tours brand */
}
        /* "secondary-green": "#0B6A5B", // Example Sauzi Tours brand
        "accent-yellow": "#F2C94C", // Example Sauzi Tours brand
        "background-gray": "#F5F5F5", // Example Sauzi Tours brand */